<div class="container">
    <div class="row border p-1 mt-2">
        <h3>Deathly Hallow Race </h3>

        <div class="col-4">
            <div>Invisibility Cloak - <span id="cloakScore"></span></div>
        </div>

        <div class="col-4">
            <div>Resurrection Stone - <span id="stoneScore"></span></div>
        </div>

        <div class="col-4">
            <div>Elder Wand - <span id="wandScore"></span></div>
        </div>

        <hr/>

        <p>Urls to Vote:</p>

        <div>
            <a href="http://localhost:5158/Home/DeathlyHallows?type=cloak">
                1. Invisibility Cloak - http://localhost:5158/Home/DeathlyHallows?type=cloak
            </a>
        </div>
        <div>
            <a href="http://localhost:5158/Home/DeathlyHallows?type=stone">
                2. Resurrection Stone - http://localhost:5158/Home/DeathlyHallows?type=cloak
            </a>
        </div>
        <div>
            <a href="http://localhost:5158/Home/DeathlyHallows?type=wand">
                3. Elder Wand - http://localhost:5158/Home/DeathlyHallows?type=cloak
            </a>
        </div>
    </div>
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/deathlyHallows.js"></script>