<div class="mb-2">Examples:</div>

<div class="mb-3"> <a href="http://localhost:5158/Home/UsersCount"> Users Count </a> </div>
<div class="mb-3"> <a href="http://localhost:5158/Home/DeathlyHallowRace"> Deathly Hallow Race </a> </div>
<div class="mb-3"> <a href="http://localhost:5158/Home/HarryPotterHouse"> Harry Potter House </a> </div>
<div class="mb-3"> <a href="http://localhost:5158/Home/Notification"> Notification </a> </div>
<div class="mb-3"> <a href="http://localhost:5158/Home/Chat"> Chat </a> </div>
<div class="mb-3"> <a href="http://localhost:5158/Home/BasicChat"> Basic Chat </a> </div>
<div class="mb-3"> <a href="http://localhost:5158/Home/Order"> Order </a> </div>
<div class="mb-3"> <a href="http://localhost:5158/Home/OrderManagement"> Order Management </a> </div>
