<div class="mb-2">Examples:</div>

<div class="mb-3"> <a href="http://localhost:5158/Home/UsersCount"> Users Count </a> </div>
<div class="mb-3"> <a href="http://localhost:5158/Home/DeathlyHallowRace"> Deathly Hallow Race </a> </div>
<div class="mb-3"> <a href="http://localhost:5158/Home/HarryPotterHouse"> Harry Potter House </a> </div>


